/* .alarms {
    border-radius: 5%;
    border-color: red;
    border-style: solid;
} */

h1{
    margin-top: 30px;
}

h2 {
    color: white;
}

textarea {
    background-color: black;
    color: rgb(255, 255, 255);
}

.rect {
    width: 100%;
    background-color: rgb(216, 174, 36);
}


#footer {
    width: 100%;
    background-color: #17a2b8;
    bottom: 0;
    left: 0;
}

p {
    text-align: left;
    margin-left: 10px;
}

.footer-info {
    padding-top: 10px;
    padding-bottom: 10px;
}