body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  body { background-color: #30303d; color: #fff; }
  #chartdiv {
    width: 100%;
    height: 500px;
  }

#panel_height{
  width: 100%;
  height: 400px;
  display: flex;
}

 ::ng-deep .line{
    stroke-width: 3px !important;
}

::ng-deep text {
  color: white;
}

::ng-deep p {
  color: white;
}

::ng-deep{
  .legend-labels{
    background: none !important;
  }
  .legend-title-text{
    color: gray;
  }
}
